body {
  font-family: "Lato", sans-serif;
  background-image: linear-gradient(to bottom right, rgb(234, 41, 11), rgb(27, 44, 238));
  background-size: cover;
  margin: 0px;
  height: 99%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-touch-callout: none;
  /* Safari */
  -webkit-user-select: none;
  /* Chrome */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

:root {
  --body-font: "Inter", sans-serif;
  --theme-bg: #1f1d2b;
  --body-color: #808191;
  --button-bg: #353340;
  --border-color: rgb(128 129 145 / 24%);
  --video-bg: #252936;
  --delay: 0s;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

.main {
  /* margin-left: 220px; */
  /* Same as the width of the sidenav */
  position: absolute;
  top: 5px;
  /* right: 0px;
  bottom: 0px; */
  left: 0px;
  /* padding-top: 10px; */
  /* margin-top: 10px; */
  width: 100vw;
  height: 90vh;

}
.Stacking {
  display: flex;
  flex-direction: column; /* Stacks elements vertically */

}
.mainiframe {
  width: 100%;
  height: 100%;
  bottom: 0;
  overflow: hidden;

}

.testobject {
  background-color: rgba(47, 125, 59, 0.619);
}

.sidebar {
  position: fixed;
  bottom: 0vh;
  left: 0px;
  height: 14vh;
  width: 100vw;
  /* width: 200px;
  height: 100%; */
  /* padding-top: 10px; */
  /* padding-left: 10px; */
  display: flex;
  flex-direction: row;
  /* flex-shrink: 0; */
  /* transition-duration: 0.2s; */
  /* overflow-x: hidden; */
  align-content: center;
  /* border-right: 1px solid white; */
  /* flex-wrap: nowrap; */
}

.sidebar .logo {
  display: none;
  width: 30px;
  height: 30px;
  background-color: #22b07d;
  flex-shrink: 0;
  color: #fff;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
}

.sidebar .logo-expand {
  text-decoration: none;
  color: #fff;
  font-size: 19px;
  font-weight: 600;
  line-height: 34px;
  position: sticky;
  top: 0;
}

.sidebar .logo-expand:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  background: var(--theme-bg);
  width: 200px;
  height: 70px;
  z-index: -1;
}


.side-menu {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow-y: scroll;
  font-size: 16px;
  justify-content: space-between; 
  padding-left: 10px;
}




.side-menu svg {
  width: 30px;
  height: 30px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  padding: 5px;
  /* background-color: var(--button-bg); */
}

.side-menu svg:hover {
  color: #fff;
}

.side-title {
  font-size: 15px;
  letter-spacing: 0.01em;
  /* margin-bottom: 10px; */
}

.side-wrapper {
  border-bottom: 1px solid var(--border-color);
  padding: 36px 0;
  width: 145px;
}

.side-wrapper+.side-wrapper {
  border-bottom: none;
}

.sidebar-link {
  /* rounded corner */
  border-radius: 5px;
  border-color: #aaa3a361;
  background-color: rgba(175, 175, 175, 0.1);
  border-width: 1.25px;
  border-style: solid;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
  flex: 1;
  margin: 5px; 
  padding-top: 2px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  flex-direction: column;
  padding-bottom: 5px;
  width: auto;
  min-width: 120px;
  
  white-space: nowrap;

} 
.sidebar-link-text {
  padding: 5px;
}

.sidebar-link.is-active {
  color: #ff0000;
  font-weight: 900;
}

.sidebar-link.is-active svg {
  background: #ffffffff;
}

.clock {
  /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); */
  color: #ffffff;
  font-size: 20px;
  /* font-family: Orbitron; */
  letter-spacing: 1px;
  padding-right: 4px;



}

.Sidebarclocks {
  /* border-right: 1px solid white; */
  display: flex;
  /* spacing */
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.SidebarHeader {
  display: flex;
  flex-direction:column;
  /* background-color: red; */
}

.SidebarHeader img {
  border-radius: 50%;
}

.SidebarHeaderImage {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.Sidebarweather {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
}

.side-menu a:last-child {
  margin-bottom: 50px;
}

img {
  width: 100%;
  height: auto;
}

.version-id {
  font-size: 12px;
  color: #888;
}

.sidebar-container {
  height: 800px;
  /* set a fixed height for the container */
  overflow: scroll;
  /* set overflow to scroll */
}

.media {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.media-item {
  margin: 10px;
  width: 300px;
  height: 200px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.tile {
  border-color: #f0f0f061;
  border-style: solid;
  border-width: 1.25px;
  /* border-radius: 5px;
  padding: 10px; */
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
  background-color: rgba(143, 143, 143, 0.504)

}